.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  z-index: 1;
}

.flag {
  width: 24px;
  height: 24px;
}

.featuredImg {
  width: 500px;
  height: 400px;
}

.featured2 {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.featuredImg2 {
  width: 325px;
  height: 250px;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.featuredTitles {
  position: absolute;
  top: 20px;
  left: 10px;
}

.offers {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: -20px;
}
.offersItem {
  position: relative;
}

.offersImg {
  height: 184px;
  width: 500px;
  border-radius: 5px;
}

.title {
  width: 100%;
  max-width: 1024px;

  padding: 0;
}

.offersButton {
  height: 36px;
  padding: 4px 12px 4px 12px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border: none;
  background-color: rgb(0, 113, 194);
  margin-top: 10px;
  cursor: pointer;
}

.offersButton:hover {
  background-color: rgb(0, 72, 122);
}

.offersTitles {
  position: absolute;
  top: 40px;
  left: 10px;
  color: white;
}
